.about--section {
    display: grid;
    padding: 133.3px 80px;
    align-items: center;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
 
}
.about--section--img > img {
    width: 70%;
    height: 70%;
}
.hero--section--description {
    margin-top: 35px;
}